
<% var game01 = {
	ankle: 2,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 1,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
}


var game02 = {
	ankle: 2,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 1
} 

var game03 = {
	ankle: 2,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 1,
	hip: 0,
	knee: 0,
	shin: 1,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 1
} 

var game04 = {
	ankle: 1,
	fibula: 1,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 1,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 1
} 

var game05 = {
	ankle: 0,
	fibula: 1,
	foot: 0,
	groin: 1,
	hamstring: 1,
	hand: 1,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 1,
	wrist: 1
} 

var game06 = {
	ankle: 1,
	fibula: 1,
	foot: 0,
	groin: 1,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 2,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game07 = {
	ankle: 1,
	fibula: 1,
	foot: 0,
	groin: 1,
	hamstring: 1,
	hand: 0,
	hip: 0,
	knee: 3,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game08 = {
	ankle: 0,
	fibula: 1,
	foot: 0,
	groin: 1,
	hamstring: 1,
	hand: 0,
	hip: 0,
	knee: 3,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game09 = {
	ankle: 0,
	fibula: 1,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 3,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game10 = {
	ankle: 0,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 1,
	hand: 0,
	hip: 0,
	knee: 1,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game11 = {
	ankle: 1,
	fibula: 0,
	foot: 2,
	groin: 0,
	hamstring: 2,
	hand: 0,
	hip: 0,
	knee: 1,
	shin: 0,
	shoulder: 1,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game12 = {
	ankle: 0,
	fibula: 0,
	foot: 1,
	groin: 0,
	hamstring: 1,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 1,
	thigh: 1,
	thumb: 0,
	wrist: 0
} 

var game13 = {
	ankle: 0,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game14 = {
	ankle: 0,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game15 = {
	ankle: 0,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

var game16 = {
	ankle: 0,
	fibula: 0,
	foot: 0,
	groin: 0,
	hamstring: 0,
	hand: 0,
	hip: 0,
	knee: 0,
	shin: 0,
	shoulder: 0,
	thigh: 0,
	thumb: 0,
	wrist: 0
} 

%>


<%

	var game = game01;

	for (var injuries in game){ %>
		<div>
		<%=injuries%>: 
	<% for(var i=0; i<injuries.length; i++){ %>
					<%= "&bigstar;"%> <%
				}%>
	</div>
		<%
	}
%>