<%= data.game.length %> injuries!

<%
  var injuries = {};

  data.game.forEach(function(item) {
    var type = item.injuries;
    if (item.player == data.selected) {
      console.log("Found a match!", item);
    }
    if (!injuries[type]) {
      injuries[type] = 0;
    }
    injuries[type] += 1;
  });
%>

<ul>
<%
  for (var type in injuries) {
%>
  <li> <%= type %>: 

<!-- icons for number of injuries-->
<%
  for (var n = 0; n < injuries[type]; n++)
  { %>
    <%= "&bigstar;"%>
  <%}%>
<!-- end icons -->

<%
  }
%>
</ul>

