<h2 class="a-player-name"><%= data.player.name%> (<%= data.player.position%>)</h2>
<% if (!data.player.injuries.length) { %>
  <p>This player missed no games due to injury.</p>
<% } else { %>
  <p>This player missed the following games due to these injuries:</p>
  <ul class="injuries-list">
    <% data.player.injuries.forEach(function(injury) { %>
      <li>
      <% if (data.game == injury.game) { %>
        <b>Week <%= injury.game %>: <%= injury.specific%></b>
      <% } else { %>
        Week <%= injury.game %>: <%= injury.specific%>
      <% } %>
      </li>
    <% }); %>
  </ul>
<% } %>
