<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

    <%
      var teams = {offense: [], defense: [], special: []};

      var counter = {};

      for (var k in json.players) {
        var player = json.players[k];
        player.jersey = k;
        teams[player.team].push(player);
        player.season = {};
        player.missed = {};
        player.specific = {}
        player.injuries = [];
      }

      json.injuries.forEach(function(injury) {
        var player = json.players[injury.player];
        player.missed[injury.game] = true;
        player.season[injury.injuries] = true;
        player.specific[injury.specific] = true;
        player.injuries.push(injury);

        if (!counter[injury.game]) {
          counter[injury.game] = 1;
        }
        else {
          counter[injury.game]++;
        }

      });

    %>

      <main class="interactive">
        <section class="title-description">
          <h1 class="interactive-title">2016 Seahawks injury tracker</h1>
          <p class="intro">The 2016 season was memorable for the Seahawks in many ways, including injuries. There were the season-ending injuries to Earl Thomas and Tyler Lockett, but how banged up was Seattle throughout the season? We take stock of games missed due to injury. Note: The bye week took place in Week 5.</p>
        </section>

        <section class="lineups">
          <nav>
            <a href="#offense" class="switch-tab">Offense</a> |
            <a href="#defense" class="switch-tab">Defense</a> |
            <a href="#special" class="switch-tab">Special Teams</a>
          </nav>
          <% for (var line in teams) { %>
          <div class="players-by-line" id="<%= line %>">
            <!-- <h1><%= line %></h1> -->
            <% teams[line].sort((a, b) => b.injuries.length - a.injuries.length).forEach(function(p) { %>
              <% if (p.injuries.length > 0) { %>
                <div class="player <%= Object.keys(p.season).join(" ") %>" data-jersey="<%= p.jersey %>" tabindex="0">
                  <savage-image src="./assets/player-injury.svg"></savage-image>
                  #<%= p.jersey %>
                </div>
              <% } %>
            <% }) %>
          </div>
          <% } %>
        </section>

        <section>
           <select class="choose-player">
              <% for (var k in json.players) { %>
              <% var player = json.players[k] %>
              <option value="<%= k %>">#<%= player.jersey %> - <%= player.name %></option>
              <% } %>
            </select>
        </section>

        <section class="details">

        </section>

        <section class="chart">
        <!-- <p>Below is a look at the number of players missing per game due to an injury.</p> -->
        <h3 class="bar-label">Players out with injury by week</h3>
          <div class="bar-container">
          <% for (var g in counter) { %>
            <% if (g < 5) { %>
              <div class="bar" style="height: <%= (counter[g] / 7 * 100).toFixed(2) %>%" data-game="<%= g %>">
                <div class="coloring"></div>
                <div class="game-number"><%= g %></div>
                <div class="value"><%= counter[g] %></div>
              </div>
            <% } %>
          <% } %>

          <div class="bar" style="height: 0px" data-game="5">
            <div class="coloring"></div>
            <div class="game-number"><%= "5*" %></div>
            <!-- <div class="value">BYE</div> -->
          </div>

          <% for (var g in counter) { %>
            <% if (g > 5) { %>
              <div class="bar" style="height: <%= (counter[g] / 7 * 100).toFixed(2) %>%" data-game="<%= g %>">
                <div class="coloring"></div>
                <div class="game-number"><%= g %></div>
                <div class="value"><%= counter[g] %></div>
              </div>
            <% } %>
          <% } %>

          </div>
          <div class="axis-label">Week</div>
        </section>

        <section class="game-blurb">
          <p class="defaultMessage">Click on a week for game and injury highlights.</p>
        </section>

        <div class="source">*Week 5 was a bye week. <br>Source: Seattle Seahawks</div>
        <div class="credit">THOMAS WILBURN, EMILY M. ENG AND VANESSA MARTINEZ / THE SEATTLE TIMES</div>

      </main>

    </responsive-child>

    <script>
      window.players = <%= JSON.stringify(json.players) %>;
      window.injuries = <%= JSON.stringify(json.injuries) %>;
      window.blurbs = <%= JSON.stringify(json.blurbs) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
