<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

    <% 
      var teams = {offense: [], defense: [], special: []};
      for (var k in json.players) {
        var player = json.players[k];
        player.jersey = k;
        teams[player.team].push(player);
        player.season = {};
        player.missed = {};
        player.injuries = [];
      }

      json.injuries.forEach(function(injury) {
        var player = json.players[injury.player];
        player.missed[injury.game] = true;
        player.season[injury.injuries] = true;
        player.injuries.push(injury);
      });
    %>

      <main class="interactive">

        <section class="lineups">
          <nav>
            <a href="#offense" class="switch-tab">Offense</a> | 
            <a href="#defense" class="switch-tab">Defense</a> | 
            <a href="#special" class="switch-tab">Special Teams</a> | 
          </nav>
          <% for (var line in teams) { %>
          <div class="players-by-line" id="<%= line %>">
            <h1><%= line %></h1>
            <% teams[line].sort((a, b) => b.injuries.length - a.injuries.length).forEach(function(p) { %>
            <div class="player <%= Object.keys(p.season).join(" ") %>" data-jersey="<%= p.jersey %>">
              <savage-image src="./assets/player-injury.svg"></savage-image>
              #<%= p.jersey %>
            </div>
            <% }) %>
          </div>
          <% } %>
        </section>

        <section>
           <select class="choose-player">
              <% for (var k in json.players) { %>
              <% var player = json.players[k] %>
              <option value="<%= k %>">#<%= player.jersey %> - <%= player.name %></option>
              <% } %>
            </select>
        </section>

        <section class="details">
        
        </section>

        <section class="chart">

        </section>  

      </main>
    
    </responsive-child>

    <script>
      window.players = <%= JSON.stringify(json.players) %>;
      window.injuries = <%= JSON.stringify(json.injuries) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
